* {
  box-sizing: border-box;
}

body {
  background: #393E46;
  margin-top: 50px;
  text-align: center;
  color:#EEEEEE;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
  min-width: 1000px;
}

.key {
  transition: all 0.1s;
}
.container div {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid #00ADB5;
  background-color: #393E46;
  width: 110px;
}
kbd {
  font: italic small-caps bold 16px/2 cursive;
}

span {
  font: small-caps bold 20px/1 sans-serif;
}

.playing {
  transform: scale(1.2);
  border: white;
  box-shadow: 0 0 15px white;
  color: #00ADB5;
}

button{
  background-color: #393E46;
  border: 2px solid #00ADB5;
  color: white;
  padding: 15px 32px;
  margin:20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.2s;
  cursor: pointer;
  width: 150px;
}


.active{
  background-color: #00ADB5;
}

#play{
  cursor: not-allowed;
}
